body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: black;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    width: 107px;
    height: 91px;
}

nav{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    text-align: center;
}

.header{
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius:25px ;
    margin: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header:hover {
    background-color: orange;
}

.header:focus {
    background-color: blue;
}


footer {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 15px;
}
.rr{
    display: flex;
    align-items:flex-start;
    
}
main {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 10px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}